@import "ui-variables";

atom-text-editor.is-focused::shadow {
  .find-result .region {
    background: transparent;
    border: 1px solid @green;
  }
}

atom-text-editor::shadow {
  .line.highlight-line {
    background: @background-color-dark !important;
  }
  .line.highlight-line-multi-line-solid-bottom {
    border-bottom-color: @pane-item-border-color;
  }
  .line.highlight-line-multi-line-solid-top {
    border-top-color: @pane-item-border-color;
  }
}
