@import "ui-variables";

.tree-view {
  font-size: @font-size;
  background: @background-color-dark;

  .selected:before {
    background: darken(@background-color-selected, 8%);
  }
}

.tree-view-resizer {
  .tree-view-resize-handle {
    width: 8px;
  }
}

.focusable-panel {
  opacity: 1;

  &:focus {
    .selected:before {
      background: @background-color-selected;
      box-shadow: inset 3px 0 0 rgba(255, 255, 255, .15);
    }
  }
}
